BasedOnStyle: LLVM
SortIncludes: false
AlignEscapedNewlinesLeft: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces : Stroustrup
BreakConstructorInitializersBeforeComma: true
Standard: Auto
ColumnLimit: 100
UseTab: ForIndentation
TabWidth : 2
CommentPragmas: '^'
