BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: true

IndentCaseLabels: false
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: true

TabWidth: 2
UseTab: ForIndentation

Standard: Auto
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: false
ColumnLimit: 100
BreakConstructorInitializersBeforeComma: true
CommentPragmas: '^'
